{% extends 'main/layout.html' %}

{% block title %} ГЛАВНАЯ СТРАНИЦА {% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p1>сварите мясо с костью. стушите лук морковь свеклу. мясо выньте и порежьте, верните в кастрюлю мясо и овощи, прибавтье картошку и шинкованую капусту перец горошком и английский и лаврушку. через 15 минут добавьте томатную пасту, соль, сахар, лимонный сок или уксус. поварите еще 10 минут.</p1>
        <button class="btn btn-warning">НА СТРАНИЦУ ПРО НАС</button>
    </div>
{% endblock %}

